@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

/* body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
 */
html::-webkit-scrollbar {
  display: none;
}
html {
  scrollbar-width: none;
}

.skill-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  position: relative;
  width: 29px;
  height: 29px;
  border: 3px solid #fd6f00;
  border-radius: 100%;
  background: #ffffff;
  box-shadow: -2px -1px 17px -6px rgba(0, 0, 0, 0.75);
  cursor: pointer;
  z-index: 99;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
